$primary-color : #ff6060;
$background-color : #f7f7f7;
$color-whitesmoke: #f6f6f6;
$color-black: #000;
$color-white: #fff;

 /* Colors */
 $color-red: #ff0000;
 $color-white: #fff;
 $color-tomato: #ff6060;
 $color-whitesmoke: #f6f6f6;
 //$color-dimgray: #666;
 $color-black: #000;

 /* border radiuses */
 $brxs: 10px;
 $brxl: 25px;
 $brxxs: 5px;